{% extends 'layout' %}

{% block content %}

<h2> Aranygaluska </h2>

<p> Desszertek </p>

<h3> hozzávalók </h3>
<pre>
1kg liszt
3db tojás
</pre>
<h3> Leírás </h3>
<pre>
valamit csinálj
</pre>

{% endblock %}